@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* variável para as cores */
:root{
    --fundo-menu-lateral:#9b643c;
    --fundo-escuro: #3d170d;
    --fundo-claro: #be855e ;

    --texto-claro: #e4d2b2;
    --texto-escuro:#3d1b0d;
    --texto-menu: #a06d41;

    --detalhe-claro: #92522f;
    --detalhe-escura: #4b3824;
    --detalhes-ícone: #e4d2b2;

    /* fundo escuro -#3d170d */
}
/* CSS Principal */
body{
    font-family: "Playfair Display", sans-serif;
    background-color: var(--texto-escuro);
}

a{
    color:var(--texto-escuro);
    text-decoration:none;
}
a:hover{
    color: var(--fundo-menu-lateral);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family:"Playfair Display", sans-serif;
}
/* cabeçalho */
#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--fundo-menu-lateral);
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
    overflow-y: auto;
}
.perfil img{
    margin: 20px auto;
    display: block;
    width: 120px;
    border:5px solid var(--texto-escuro);
    box-shadow:0px 0px 15px 5px rgb(151, 62, 20) ;
}
.perfil h1 {
    font-size:24px;
    margin: 0 ;
    padding: 0;
    font-weight:600;
    text-align: center;
    font-family:"Playfair Display", sans-serif;
}
.perfil .social-links a {
    font-size: 20px;
    display: inline-block;
    background: var(--texto-escuro);
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 2px;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 1s;
}
.perfil .social-links a:hover {
    background: var(--texto-claro) ;
    color: var(--detalhe-escura) ;
    text-decoration:none ;
}
/* PRINCIPAL */
#main{
    margin-left: 300px;
}
.container,
.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}
@media (max-width: 1199px) {
    #header{
        left: -300px;
    }
    #main{
        margin-left: 0;
    }
    .container,
    .container-fluid{
        padding-left: 12px;
        padding-right: 12px;
    }
}





/* manu nav desktop  */
.nav-menu{
    padding: 30px 0 0 0;
}
.nav-menu * { 
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul>li{
    position: relative;
    white-space: nowrap;
}
.nav-menu a ,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color: var(--texto-claro); /* texto claro */
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.5s;
    font-size: 15px;
}
.nav-menu a i,
.nav-menu a:focus {
    font-size:24px ;
    padding-right: 12px;
    color: var(--texto-escuro);
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a{
    text-decoration: none;
    color: var(--texto-escuro);
}
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i{
    color: var(--texto-escuro);
} /* Fim header */

/* nav mobile */
.mobile-nav-toggle{
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9999;
    border: 0;
    font-size: 25px;
    transition: all 0.5s;
    outline: none !important;
    background: var(--texto-escuro);
    color: var(--texto-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    cursor: pointer;
}
.mobile-nav-active #header{
    overflow: hidden;
}
.mobile-nav-active #header{
    left: 0;
}
/*  HERO */
#hero{
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg") top center;
    background-size: cover;
}
#hero::before{
    content: "";
    background: rgba(27, 19, 19, 0.336);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; /* sobrepor algum obj/elemento */
}
#hero .hero-container{
    position: relative;
    z-index: 2;
    min-width: 300px;
}
#hero h1{
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: var(--texto-escuro);
}
#hero p{
    color: var(--texto-escuro);
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Playfair Display", sans-serif;
}
#hero p span{
    color: var(--texto-escuro);
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--texto-escuro);
}
@media(min-width: 1024px ) {
    #hero {
        background-attachment: fixed;

    }
}
@media ( max-width: 768px) {
    #hero h1{
        font-size: 90px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    #hero p{
        font-size: 24px;
    }
}
/* CSS Geral */
section{
    padding: 60px 0;
    overflow: hidden;
}
.section-bg{
    background: var(--detalhe-claro);
}
.section-title{
    padding-bottom: 30px ;
    color: var(--texto-menu);
}
.section-title h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--texto-claro); 
}
.section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--detalhes-ícone);
}
.section-title p{
    margin-bottom: 0;
}
/* SOBRE */
.sobre .container h3{
    font-size: 40px;
    font-weight: 500;
    color:var(--texto-claro) ;
}
.sobre .container  {
    list-style: none;
    padding: 0;
    color: var(--texto-menu);
}
.sobre .container ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sobre .container ul strong{
    margin-right: 15px;
    color: var(--fundo-claro);
}
.sobre .container ul i {
    font-size: 22px;
    margin-right: 10px;
    color: var(--detalhes-ícone);
    line-height: 0;
}
/* Conquistas */
.conquistas{
    padding-bottom: 30px;
}
.conquistas .count-box{
    padding: 30px;
    width: 100%;
}
.conquistas .count-box i{
    display: block;
    font-size: 45px;
    color: var(--detalhes-ícone);
    float: left ;
    line-height: 0;
}
.conquistas .count-box span{
    font-size: 30px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: var(--detalhes-ícone);
    margin-left: 60px;
}
.conquistas .count-box p{
    padding: 7px 0 0 0;
    margin: 0 0 0 60px ;
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    color: var(--fundo-claro);
}
/* .conquistas .count-box i:hover{
    color: var(--detalhe-claro);
} */
/* skills / vendas */ /* Nossa história  */
/* .skills .progress{
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Cormorant Garamond" sans-serif;
    color: var(--fundo-claro)
}
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-bg {
    background: var(--fundo-claro);
    height: 10px;
}
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 5s;
    background: var(--fundo-claro);
} */
/* resumo */
.resumo .resumo-titulo {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--texto-claro);
}
.resumo .resumo-item { /* linha da lateral */
    padding: 0 0 20px 20px;
    /* margin-top: ; */
    border-left: 2px solid var(--detalhe-claro);
    position: relative;
}
.resumo .resumo-item h4 { /* subtitulos */
    line-height: 22px;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--texto-menu);
    margin-bottom: 25px;
}
.resumo .resumo-item h5{
    font-size: 16px;
    background: var(--fundo-menu-lateral);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
.resumo .resumo-item {
    color: var(--fundo-claro);
}
.resumo .resumo-item ul {
    padding-left: 20px;
}
.resumo .resumo-item ul li {
    padding-bottom: 10px;
    color: var(--fundo-claro);
}
.resumo .resumo-item::before {  /* ::pseudo elemento */
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--detalhes-ícone);/* bolinha  */
    border: 2px solid var(--texto-menu);
}  
/* portfolio //  vendas //  catalogo */
.portfolio .portfolio-item{
    margin-bottom: 30px;
}
.portfolio #portfolio-filters{
    margin: 0 auto 35px auto;
    list-style: none ;
    text-align: center;
    background: var(--detalhe-claro);
    border-radius:10px ;
    padding: 2px  ;
}
.portfolio #portfolio-filters li{
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    color: var(--fundo-escuro);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active{
    color: var(--texto-menu);
}
.portfolio .portfolio-wrap{
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}
.portfolio .portfolio-wrap::before{ /* :: pseudo elemento */
    content:"" ;
    background:rgba(255, 255, 255, 0.5) ;
    position: absolute;
    /* top:0 ;
    right: 0;
    bottom: 0;
    left:0 ; */
    inset: 0; /* resume valor =0 => top, right, bottom,left */
    transition: all ease-in-out 0.3s;
    z-index: 2 ;
    opacity:0 ;
}
.portfolio .portfolio-wrap .portfolio-links{
    opacity: 1;
    right:0 ;
    bottom: -60px;
    left: 0;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
}
.portfolio .portfolio-wrap .portfolio-links a{
    color: var(--detalhe-escura);
    font-size: 28px;
    text-align: center;
    background-color: var(--texto-claro);
    transition: 0.3s;
    width: 50%;
} 
.portfolio .portfolio-wrap .portfolio-links a:hover{
    background: var(--detalhes-ícone);
}
.portfolio .portfolio-wrap .portfolio-links a+a{
    border-left: 1px solid var(--texto-claro);
}
.portfolio .portfolio-wrap:hover::before{
    inset: 0;
    opacity: 1;

}
.portfolio .portfolio-wrap:hover .portfolio-links{
    opacity: 1;
    bottom: 0;
}
/* portfolio pagina adicional == detalhes */

/* VOLTAR */
.servicos .icon-box{
    margin-bottom: 20px;
}
.servicos .icon{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: var(--detalhes-ícone);
    border-radius: 50%;
    margin-right: 12px;
    transition: 0.5s;
    border: 2px solid var(--texto-claro);
    box-shadow: 0 0 8px 2px #834420;
}
.servicos .icon i{
    font-size: 22px;
    color: var(--detalhe-escura);
}
.servicos .title{
    margin-left: 80px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    color: var(--fundo-menu-lateral);
}
.servicos .descricao{
    margin-left: 60px;
    line-height: 20px;
    font-size: 18px;
    color: var(--texto-claro);
}
.servicos .descricao{
    margin-left: 60px;
    line-height: 20px;
    font-size: 18px;
}
/* depoimentos // feedback // avaliações */
.depoimentos,
.depoimentos .depoimentos-slider{
    overflow: hidden;
}
.depoimentos .depoimento-item{
    text-align: center;
    min-width: 320px;
}
.depoimentos .depoimento-item .depoimento-img{
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
}
.depoimentos .depoimento-item h3{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--detalhes-ícone);
}
.depoimentos .depoimento-item p{
    font-size: 14px;
    margin: 0;
    color: var(--detalhe-claro);
}
.depoimentos .depoimento-item .quote-left,
.depoimentos .depoimento-item .quote-right{
    color: var(--detalhe-claro);
    font-size: 26px;
}
.depoimentos .depoimento-item .quote-left{
    display: inline-block;
    position: relative;
    left: -5px;
    color: var(--detalhe-claro);
}
.depoimentos .depoimento-item .quote-right{
    display: inline-block;
    position: relative;
    top: 10px;
    right: -5px;
    color: var(--detalhe-claro);
}
.depoimentos .depoimento-item p{
    font-style: italic;
    color: var(--detalhe-claro);
    margin: 0 15px 30px 15px ;
    padding: 20px;
    background: #4d261a;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 15px ;
}
.depoimentos .depoimento-item p::after{
    content: "";
    position: absolute;
    bottom:-20px ;
    left: calc(50% - 20px);
    width: 0;
    height: 0;
    border-top: 20px solid var(--texto-escuro) ;
    border-left:20px solid transparent ;
    border-right: 20px solid transparent;
}
.depoimentos .swiper-pagination{
    margin-top: 55px;
    position: relative;
}
.depoimentos .swiper-pagination 
.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: var(--detalhes-ícone);
     /* opacity: 1;
    border: 1px solid black;  */
}
.depoimentos .swiper-pagination 
.swiper-pagination-bullet-active{
    background: var(--detalhes-ícone);
}
/* ********Contato // Forms******** */
.contato{
    padding-bottom: 130px;
}
.contato .info{
    padding: 30px ;
    background: var(--fundo-menu-lateral);
    width: 100% ;
    box-shadow: 0 0 24px 0 rgba(199, 77, 47, 0.877) ;
}
.contato .info i{
    font-size: 20px;
    color: var(--texto-escuro);
    background-color: var(--texto-claro);
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.3s ease-in-out;
}
.contato .info h4 {
    color: var(--texto-escuro);
    padding-left: 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.contato .info p{
    color: var(--texto-escuro);
    font-size: 16px;
    padding: 0 0 10px 60px;
    margin-bottom: 30px ;
}
.contato .info .fone p{
    color: var(--texto-escuro);
}
/* FORMS****** */
.contato .email-form{
    padding: 40px ;
    background: var(--fundo-menu-lateral);
    width: 100% ;
    box-shadow: 0 0 24px 0 rgba(199, 77, 47, 0.877) ;
}
.contato .email-form .form-group{
    padding-bottom: 14px;
}
.contato .email-form label{
    color: var(--texto-escuro);
    margin-bottom: 20px ;
    font-size: 20px;
}
.contato .email-form input,
.contato .email-form textarea{
    box-shadow: none;
    font-size: 20px;
}
.contato .email-form input{
    height: 30px;
}
.contato .email-form textarea{
    padding: 40px 15px;
}
.contato .email-form button[type=submit]{
    background: var(--texto-escur);
    color: var(--detalhes-ícone);
    border: 0;
    border-radius: 4px;
    padding: 10px 24px;
   /*  width: 70px;
    height: 30px;
    font-size: 18px; */
    transition: 0.4s;
}
.contato .email-form button[type=submit]{
    background: var(--texto-menu);
    padding: 20px;
}
/* back-to-top // voltar ao topo */
.back-to-top{
     position: fixed;
    visibility: hidden;
    opacity: 0; 
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    background: var(--detalhes-ícone);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
}
.back-to-top i{
    color: var(--texto-menu);
    font-size: 30px;
    line-height: 0;
}
.back-to-top:hover{
    background:var(--fundo-menu-lateral);
}
.back-to-top.active{
    visibility: visible;
    opacity: 1;
}

/* footer */
#footer{
    padding:30px ;
    background: var(--fundo-menu-lateral);
    color: var(--texto-claro);
    font-size: 16px;
    /* position:fixed ; */
    left: 0;
    bottom: 0;
    width: px;
    z-index:99 ;
}
#footer .copyright{
    text-align: center;
}
#footer .creditos{
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: var(--texto-claro);
}
#footer .creditos a{
    color: var(--texto-escuro);
}
@media (max-width:1199px) {
    #footer{
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }
}

/* ********breadcrums***** */
.breadcrumbs{
    padding: 20px 0;
    background: var(--fundo-menu-lateral);
}
.breadcrumbs h2{
    color: var(--texto-menu);
    font-size: 26px;
    font-weight: 300;
}
.breadcrumbs ol{
    color: var(--texto-menu);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.breadcrumbs ol li{
    padding-left: 10px;
}
.breadcrumbs ol li a{
    color: var(--texto-claro);
}
.breadcrumbs ol li a :hover{
    color: var(--texto-escuro);
}
.breadcrumbs ol li+li::before{
    content: ">";
    display: inline-block;
    padding-right: 10px;
    color: var(--texto-escuro);
}
@media (max-width: 768px) {
    .breadcrumbs .d-flex{
        display: block !important;
    }
    .breadcrumbs ol{
        display: block;
    }
    .breadcrumbs ol li{
        display: inline-block;
    }
}