@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* variável para as cores */
:root{
    --fundo-menu-lateral:#bea07b;
    --fundo-escuro: #a55638;
    --fundo-claro: #b47575 ;

    --texto-claro: #8b6c4d;
    --texto-escuro:#50371f;
    --texto-menu: #412d1a;

    --detalhe-claro: #a7f4ee;
    --detalhe-escura: #4b3824;
    --detalhes-ícone: #b49c75;
}
/* CSS Principal */
body{
    font-family: "Playfair Display", sans-serif;
    background-color: var(--texto-escuro);
}

a{
    color:var(--texto-escuro);
    text-decoration:none;
}
a:hover{
    color: var(--fundo-menu-lateral);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family:"Playfair Display", sans-serif;
}
/* cabeçalho */
#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--fundo-menu-lateral);
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 99999;
    overflow-y: auto;
}
.perfil img{
    margin: 20px auto;
    display: block;
    width: 120px;
    border:5px solid var(--texto-escuro);
    box-shadow:0px 0px 15px 5px rgb(151, 62, 20) ;
}
.perfil h1 {
    font-size:24px;
    margin: 0 ;
    padding: 0;
    font-weight:600;
    text-align: center;
    font-family:"Playfair Display", sans-serif;
}
.perfil .social-links a {
    font-size: 20px;
    display: inline-block;
    background: var(--texto-escuro);
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 2px;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 1s;
}
.perfil .social-links a:hover {
    background: var(--texto-claro) ;
    color: var(--detalhe-escura) ;
    text-decoration:none ;
}
/* PRINCIPAL */
#main{
    margin-left: 300px;
}
.container,
.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}
@media (max-width: 1199px) {
    #header{
        left: -300px;
    }
    #main{
        margin-left: 0;
    }
    .container,
    .container-fluid{
        padding-left: 12px;
        padding-right: 12px;
    }
}







/* manu nav desktop  */
.nav-menu{
    padding: 30px 0 0 0;
}
.nav-menu * { 
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul>li{
    position: relative;
    white-space: nowrap;
}
.nav-menu a ,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color: var(--texto-claro); /* texto claro */
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.5s;
    font-size: 15px;
}
.nav-menu a i,
.nav-menu a:focus {
    font-size:24px ;
    padding-right: 12px;
    color: var(--texto-escuro);
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a{
    text-decoration: none;
    color: var(--texto-escuro);
}
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i{
    color: var(--texto-escuro);
} /* Fim header */

/* nav mobile */
.mobile-nav-toggle{
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9999;
    border: 0;
    font-size: 25px;
    transition: all 0.5s;
    outline: none !important;
    background: var(--texto-escuro);
    color: var(--texto-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    cursor: pointer;
}
.mobile-nav-active #header{
    overflow: hidden;
}
.mobile-nav-active #header{
    left: 0;
}
/*  HERO */
#hero{
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg") top center;
    background-size: cover;
}
#hero::before{
    content: "";
    background: rgba(27, 19, 19, 0.336);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; /* sobrepor algum obj/elemento */
}
#hero .hero-container{
    position: relative;
    z-index: 2;
    min-width: 300px;
}
#hero h1{
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: var(--texto-escuro);
}
#hero p{
    color: var(--fundo-menu-lateral);
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Playfair Display", sans-serif;
}
#hero p span{
    color: var(--fundo-menu-lateral);
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--texto-claro);
}
@media(min-width: 1024px ) {
    #hero {
        background-attachment: fixed;

    }
}
@media ( max-width: 768px) {
    #hero h1{
        font-size: 90px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    #hero p{
        font-size: 24px;
    }
}
/* CSS Geral */
section{
    padding: 60px 0;
    overflow: hidden;
}
.section-bg{
    background: var(--detalhe-escura);
}
.section-title{
    padding-bottom: 30px ;
}
.section-title h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--texto-claro);
}
.section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--detalhes-ícone);
}
.section-title p{
    margin-bottom: 0;
}
/* SOBRE */
.sobre .container h3{
    font-size: 40px;
    font-weight: 500;
    color: var(--texto-claro) ;
}
.sobre .container ul{
    list-style: none;
    padding: 0;
}
.sobre .container ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sobre .container ul strong{
    margin-right: 15px;
}
.sobre .container ul i{
    font-size: 22px;
    margin-right: 10px;
    color: var(--detalhes-ícone);
    line-height: 0;
}